<!DOCTYPE html>
<html>
	<head>
		<title>Calculator</title>
		<link type="image" href="https://i.ytimg.com/vi/E7G_WgSd7IQ/maxresdefault.jpg"/>
	</head>
	<link type="text/css" rel="stylesheet" href="/static/stylesheet.css"/>
	<div>
	<body background="http://static1.squarespace.com/static/52e31194e4b09261a16b7bab/t/5752590fb6aa60a82fc4cf06/1465014547355/Loan-Calculator-1.jpg?format=1500w">
	</div>	
	<h1 style="text-align:center;color:white;font-size:45px;font-family:impact">Arithmetic Operations</h1>
	<body>
		<form id="cal" action="http://ec2-54-213-242-184.us-west-2.compute.amazonaws.com/api" method="get">
			<fieldset>
			<legend style="color:white; font-size:20px"><en>Please enter 2 numbers and choose an operation</en></legend>
			<strong>Enter first number:</strong><br>
			<input type="text" id = "num1" name="num1" required><br>
			<strong>Enter second number:</strong><br>
                        <input type="text" name="num2" id = "num2"  required><br>
			<input type="radio" name="opp" value="add" required><span style="color:black"><strong>Addition</strong></span>
			<input type="radio" name="opp" value="sub" ><span style="color:black"><strong>Subtraction</strong></span>
			<input type="radio" name="opp" value="mul"><span style="color:black"><strong>Multiplication</strong></span>
			<input type="radio" name="opp" value="div"><span style="color:black"><strong>Division</strong></span><br>
			<button  type="submit"> Submit</button>
			</fieldset>
		</form>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
$( '#cal' ) .submit( function( e ) {
e.preventDefault();
var ur;
var x = $('input[name="opp"]:checked').val();
console.log(x);
if (x == "add")
ur = 'http://ec2-54-213-242-184.us-west-2.compute.amazonaws.com/api/add';
else if (x == 'sub' ){
ur = 'http://ec2-54-213-242-184.us-west-2.compute.amazonaws.com/api/sub';}
else if (x == 'mul')
ur = 'http://ec2-54-213-242-184.us-west-2.compute.amazonaws.com/api/mul';
else
ur = 'http://ec2-54-213-242-184.us-west-2.compute.amazonaws.com/api/div';
var num1 = document.getElementById("num1").value;
var num2 = document.getElementById("num2").value;
$.ajax( {
url: ur,
type: 'GET',
data: "num1="+ num1 + "&num2=" +  num2,
processData: false,
contentType: false,
success: function(data){
$("body").html('<html><h1 style="color:white">The result is ' +data.result +'</h1></html>');}
} );
});
});
</script>
		
</body>
</html>
